div.column{
	float: left;
}

div.column_3{
	width: 33%;
	float: left;
}

div.column_2{
	width: 50% !important;
	float: left !important;
}

.align_left{
	text-align: left;
}

img.align_left, span.align_left{
	float: left;
}

img.align_right, span.align_right{
	float: right;
}

.align_center{
	text-align: center !important;
}

.align_middle{
	vertical-align: middle !important;
}

.align_right, .number{
	text-align: right;
}

.align_bottom {
	vertical-align: bottom;
}

.align_top{
	vertical-align: top !important;
}

table.align_center td{
	text-align: center;
}

table.center_cells td{
	text-align: center;
}

table.column_3 td{
	width: 33%;
}

table.column_2 td{
	width: 50%;
}


table td{
	vertical-align: top;
}

label{
	font-size: 12px;
}

.clear_float {
	clear: both;
}

.bold {
	font-weight: bold !important;
}

.borderless {
	border: 0px solid #FFFFFF !important;
}

.dim{
	color: #ABABAB !important;
}

.grabber {
	cursor: move;
}

.hidden {
	display: none !important;
}

.invisible {
	visibility: hidden;
}

.min-width{
	width: 1% !important;
	white-space: nowrap;
}

.no_padding { 
	padding: 0px !important;
}

.note{
	color: #454545;
	padding-left: 2px;
	font-size: 10px;
}

.nowrap{
	white-space: nowrap;
}

.pointer {
	cursor: pointer;
}

.underline, .underlined {
	text-decoration: underline;
}

.upper {
	text-transform: uppercase;
}

table.full {
	width: 100%;
}

/* dA-specific */

.error { color: #ff0000; }
	
.centered { text-align: center; }

.color_black { color: #000000; }
.color_dark_gray { color: #666666; }
.color_light_gray { color: #cccccc; }
.color_white { color: #ffffff; }
.color_red { color: #ff0000; }

.borderwidth_thin { border-width: 1px; }
.borderwidth_medium { border-width: 2px; }
.borderwidth_thick { border-width: 3px; }
	
.borderstyle_dashed { border-style: dashed; }
.borderstyle_dotted { border-style: dotted; }
.borderstyle_solid { border-style: solid; }

.bordercolor_black { color: #000000; }
.bordercolor_dark_gray { color: #666666; }
.bordercolor_light_gray { color: #cccccc; }
.bordercolor_red { color: #ff0000; }

#dAsitePreview {
	background-image: url('/images/dApreview.gif');
	top: 0px;
	left: 0px;
	width: 100px;
	height: 100px;
	position: absolute;
}

br.noindexstart, br.noindexend {
	display: none;
}