/*Reset & Base
----------------------------------------------------------------------------*/


/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Tabs
	#Forms
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,

/*img,*/

ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,

/*ol, ul, li,*/

fieldset,
form,
label,
legend,

/*table, caption, tbody, tfoot, thead, tr, th, td,*/

article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
small {
    display: block;
}

body {
    line-height: 1;
}


/*ol, ul {
		list-style: none; }*/

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* #Basic Styles
================================================== */

body {
    background: #F7F7F7;
    font: 14px Arial, "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
    color: #626262;
    -webkit-font-smoothing: antialiased;
    /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}


/* #Typography
================================================== */


/*
h1, h2, h3, h4, h5, h6 {
		color: #181818;
		font-family: "Georgia", "Times New Roman", serif;
		font-weight: normal; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
*/

.subheader {
    color: #777;
}

p {
    margin: 0 0 20px 0;
}


/*p img { margin: 0; }*/

p.lead {
    font-size: 21px;
    line-height: 27px;
    color: #777;
}

em {
    font-style: italic;
}

strong,
b {
    font-weight: bold;
    /*color: #333;*/
}

small {
    font-size: 80%;
}


/*	Blockquotes  */

blockquote,
blockquote p {
    font-size: 17px;
    line-height: 24px;
    color: #777;
    font-style: italic;
}

blockquote {
    margin: 0 0 20px;
    padding: 9px 20px 0 19px;
    border-left: 1px solid #ddd;
}

blockquote cite {
    display: block;
    font-size: 12px;
    color: #555;
}

blockquote cite:before {
    content: "\2014 \0020";
}

blockquote cite a,
blockquote cite a:visited,
blockquote cite a:visited {
    color: #555;
}

hr {
    border: solid #ddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 10px 0 30px;
    height: 0;
}


/* #Links
================================================== */


/*
a, a:visited { color: #333; text-decoration: underline; outline: 0; }
	a:hover, a:focus { color: #000; }
*/

p a,
p a:visited {
    line-height: inherit;
}


/* #Lists
================================================== */

ul,
ol {
    margin-bottom: 20px;
}


/*ul { list-style: none outside; }*/

ol {
    list-style: decimal;
}

ul.square {
    list-style: square outside;
}

ul.circle {
    list-style: circle outside;
}

ul.disc {
    list-style: disc outside;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 4px 0 5px 30px;
    font-size: 90%;
}

ul ul li,
ul ol li,
ol ol li,
ol ul li {
    margin-bottom: 6px;
}

li {
    line-height: 18px;
    /*margin-bottom: 12px;*/
}

#content li {
    margin-bottom: 10px;
}

ul.large li {
    line-height: 21px;
}

li p {
    line-height: 21px;
}


/* #Images
================================================== */

img.scale-with-grid {
    max-width: 100%;
    height: auto;
}


/* #Buttons
================================================== */

/*.button,
.button:visited,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Rokkitt', 'times new roman', serif;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 10px;
    padding: 10px 15px 7px 15px;
    text-decoration: none;
    background: #9e0b0f;
    background: -moz-linear-gradient(top, #9e0b0f 0%, #8e0a0d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9e0b0f), color-stop(100%, #8e0a0d));
    background: -webkit-linear-gradient(top, #9e0b0f 0%, #8e0a0d 100%);
    background: -o-linear-gradient(top, #9e0b0f 0%, #8e0a0d 100%);
    background: -ms-linear-gradient(top, #9e0b0f 0%, #8e0a0d 100%);
    background: linear-gradient(to bottom, #9e0b0f 0%, #8e0a0d 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#9e0b0f', endColorstr='#8e0a0d', GradientType=0);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}*/

/*.button:after,
button:after,
input[type="submit"]:after,
input[type="reset"]:after,
input[type="button"]:after {
    content: url(/campfiles/c831/img/arrow.png);
    float: right;
    margin-left: 10px;
}
*/
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    color: #fff;
    background: #8e0a0d;
    background: -moz-linear-gradient(top, #8e0a0d 0%, #9e0b0f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8e0a0d), color-stop(100%, #9e0b0f));
    background: -webkit-linear-gradient(top, #8e0a0d 0%, #9e0b0f 100%);
    background: -o-linear-gradient(top, #8e0a0d 0%, #9e0b0f 100%);
    background: -ms-linear-gradient(top, #8e0a0d 0%, #9e0b0f 100%);
    background: linear-gradient(to bottom, #8e0a0d 0%, #9e0b0f 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#8e0a0d', endColorstr='#9e0b0f', GradientType=0);
}

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
    background: #fff;
    background: -moz-linear-gradient(top, #832c19 0%, #9e0b0f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #832c19), color-stop(100%, #9e0b0f));
    background: -webkit-linear-gradient(top, #832c19 0%, #9e0b0f 100%);
    background: -o-linear-gradient(top, #832c19 0%, #9e0b0f 100%);
    background: -ms-linear-gradient(top, #832c19 0%, #9e0b0f 100%);
    background: linear-gradient(to bottom, #832c19 0%, #9e0b0f 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#832c19', endColorstr='#9e0b0f', GradientType=0);
}

.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
}


/* Fix for odd Mozilla border & padding issues */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/* #Tabs (activate in tabs.js)
================================================== */

ul.tabs {
    display: block;
    margin: 0 0 20px 0;
    padding: 0;
    border-bottom: solid 1px #ddd;
}

ul.tabs li {
    display: block;
    width: auto;
    height: 30px;
    padding: 0;
    float: left;
    margin-bottom: 0;
}

ul.tabs li a {
    display: block;
    text-decoration: none;
    width: auto;
    height: 29px;
    padding: 0px 20px;
    line-height: 30px;
    border: solid 1px #ddd;
    border-width: 1px 1px 0 0;
    margin: 0;
    background: #f5f5f5;
    font-size: 13px;
}

ul.tabs li a.active {
    background: #fff;
    height: 30px;
    position: relative;
    top: -4px;
    padding-top: 4px;
    border-left-width: 1px;
    margin: 0 0 0 -1px;
    color: #111;
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
}

ul.tabs li:first-child a.active {
    margin-left: 0;
}

ul.tabs li:first-child a {
    border-width: 1px 1px 0 1px;
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
}

ul.tabs li:last-child a {
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
}

ul.tabs-content {
    margin: 0;
    display: block;
}

ul.tabs-content > li {
    display: none;
}

ul.tabs-content > li.active {
    display: block;
}


/* Clearfixing tabs for beautiful stacking */

ul.tabs:before,
ul.tabs:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

ul.tabs:after {
    clear: both;
}

ul.tabs {
    zoom: 1;
}


/* #Forms
================================================== */
/*
form {
    margin-bottom: 20px;
}

fieldset {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    border: 1px solid #ccc;
    padding: 6px 4px;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    margin: 0;
    width: 210px;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    background: #fff;
*/}

select {
    padding: 0;
}

/*input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 1px solid #aaa;
    color: #444;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}*/

/*textarea {
    min-height: 60px;
}

label,
legend {
    display: block;
    font-weight: bold;
    font-size: 13px;
}

select {
    width: 220px;
}
*/
/*input[type="checkbox"] {
    display: inline;
}*/

label span,
legend span {
    font-weight: normal;
    font-size: 13px;
    color: #444;
}


/* #Misc
================================================== */

.remove-bottom {
    margin-bottom: 0 !important;
}

.half-bottom {
    margin-bottom: 10px !important;
}

.add-bottom {
    margin-bottom: 20px !important;
}


/*Grid
----------------------------------------------------------------------------*/


/* 
* Skeleton V1.0.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 5/20/2011
*/


/* Table of Contents
==================================================
	#Base 960 Grid    
	#Tablet (Portrait)
	#Mobile (Portrait) 
	#Mobile (Landscape)
	#Clearing */


/* #Base 960 Grid 
================================================== */

.container,
.container-twelve {
    /*position: relative;*/
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

.column,
.columns {
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    /*position: relative;*/
}

.row {
    margin-bottom: 20px;
}


/* Nested Column Classes */

.column.alpha,
.columns.alpha {
    margin-left: 0;
}

.column.omega,
.columns.omega {
    margin-right: 0;
}

.container .one-third.column {
    width: 300px;
}

.container .two-thirds.column {
    width: 620px;
}


/*****************************
		12 Column
	*****************************/


/* Base Grid */

.container-twelve .one.column {
    width: 60px;
}

.container-twelve .two.columns {
    width: 140px;
}

.container-twelve .three.columns {
    width: 220px;
}

.container-twelve .fourth.columns {
    width: 300px;
}

.container-twelve .five.columns {
    width: 380px;
}

.container-twelve .six.columns {
    width: 50%;
}

.container-twelve .seven.columns {
    width: 540px;
}

.container-twelve .eight.columns {
    width: 620px;
}

.container-twelve .nine.columns {
    width: 700px;
}

.container-twelve .ten.columns {
    width: 780px;
}

.container-twelve .eleven.columns {
    width: 860px;
}

.container-twelve .twelve.columns {
    width: 940px;
}


/* Push */

.container-twelve .push-one {
    left: 80px;
}

.container-twelve .push-two {
    left: 160px;
}

.container-twelve .push-three {
    left: 240px;
}

.container-twelve .push-fourth {
    left: 320px;
}

.container-twelve .push-five {
    left: 400px;
}

.container-twelve .push-six {
    left: 480px;
}

.container-twelve .push-seven {
    left: 560px;
}

.container-twelve .push-eight {
    left: 640px;
}

.container-twelve .push-nine {
    left: 720px;
}

.container-twelve .push-ten {
    left: 800px;
}

.container-twelve .push-eleven {
    left: 880px;
}


/* Pull */

.container-twelve .pull-one {
    left: -80px;
}

.container-twelve .pull-two {
    left: -160px;
}

.container-twelve .pull-three {
    left: -240px;
}

.container-twelve .pull-fourth {
    left: -320px;
}

.container-twelve .pull-five {
    left: -400px;
}

.container-twelve .pull-six {
    left: -480px;
}

.container-twelve .pull-seven {
    left: -560px;
}

.container-twelve .pull-eight {
    left: -640px;
}

.container-twelve .pull-nine {
    left: -720px;
}

.container-twelve .pull-ten {
    left: -800px;
}

.container-twelve .pull-eleven {
    left: -880px;
}


/*****************************
		16 Column
	*****************************/


/* Base Grid */

.container-sixteen .one.column {
    width: 40px;
}

.container-sixteen .two.columns {
    width: 100px;
}

.container-sixteen .three.columns {
    width: 160px;
}

.container-sixteen .fourth.columns {
    width: 220px;
}

.container-sixteen .five.columns {
    width: 280px;
}

.container-sixteen .six.columns {
    width: 340px;
}

.container-sixteen .seven.columns {
    width: 400px;
}

.container-sixteen .eight.columns {
    width: 460px;
}

.container-sixteen .nine.columns {
    width: 520px;
}

.container-sixteen .ten.columns {
    width: 580px;
}

.container-sixteen .eleven.columns {
    width: 640px;
}

.container-sixteen .twelve.columns {
    width: 700px;
}

.container-sixteen .thirteen.columns {
    width: 760px;
}

.container-sixteen .fourthteen.columns {
    width: 820px;
}

.container-sixteen .fifteen.columns {
    width: 880px;
}

.container-sixteen .sixteen.columns {
    width: 940px;
}


/* Offsets */

.container-sixteen .offset-by-one {
    margin-left: 60px;
}

.container-sixteen .offset-by-two {
    margin-left: 120px;
}

.container-sixteen .offset-by-three {
    margin-left: 180px;
}

.container-sixteen .offset-by-fourth {
    margin-left: 240px;
}

.container-sixteen .offset-by-five {
    margin-left: 300px;
}

.container-sixteen .offset-by-six {
    margin-left: 360px;
}

.container-sixteen .offset-by-seven {
    margin-left: 420px;
}

.container-sixteen .offset-by-eight {
    margin-left: 480px;
}

.container-sixteen .offset-by-nine {
    margin-left: 540px;
}

.container-sixteen .offset-by-ten {
    margin-left: 600px;
}

.container-sixteen .offset-by-eleven {
    margin-left: 660px;
}

.container-sixteen .offset-by-twelve {
    margin-left: 720px;
}

.container-sixteen .offset-by-thirteen {
    margin-left: 780px;
}

.container-sixteen .offset-by-fourthteen {
    margin-left: 840px;
}

.container-sixteen .offset-by-fifteen {
    margin-left: 900px;
}


/* #Tablet (Portrait)
================================================== */


/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container {
        width: 768px;
    }
    /*.container .column, 
		.container .columns { margin-left: 10px; margin-right: 10px;  }*/
    .column.alpha,
    .columns.alpha {
        margin-left: 0;
        margin-right: 10px;
    }
    .column.omega,
    .columns.omega {
        margin-right: 0;
        margin-left: 10px;
    }
    .container .one-third.column {
        width: 236px;
    }
    .container .two-thirds.column {
        width: 492px;
    }
    /*****************************
			12 Column
			((768/12) - 20) * 1 = 44
		*****************************/
    .container-twelve .one.column {
        width: 44px;
    }
    .container-twelve .two.columns {
        width: 108px;
    }
    .container-twelve .three.columns {
        width: 172px;
    }
    .container-twelve .fourth.columns {
        width: 236px;
    }
    .container-twelve .five.columns {
        width: 300px;
    }
    .container-twelve .six.columns {
        width: 50%;
    }
    .container-twelve .seven.columns {
        width: 428px;
    }
    .container-twelve .eight.columns {
        width: 492px;
    }
    .container-twelve .nine.columns {
        width: 556px;
    }
    .container-twelve .ten.columns {
        width: 620px;
    }
    .container-twelve .eleven.columns {
        width: 684px;
    }
    .container-twelve .twelve.columns {
        width: 748px;
    }
    /* Offsets */
    .container-twelve .offset-by-one {
        margin-left: 64px;
    }
    .container-twelve .offset-by-two {
        margin-left: 128px;
    }
    .container-twelve .offset-by-three {
        margin-left: 192px;
    }
    .container-twelve .offset-by-fourth {
        margin-left: 256px;
    }
    .container-twelve .offset-by-five {
        margin-left: 320px;
    }
    .container-twelve .offset-by-six {
        margin-left: 384px;
    }
    .container-twelve .offset-by-seven {
        margin-left: 448px;
    }
    .container-twelve .offset-by-eight {
        margin-left: 512px;
    }
    .container-twelve .offset-by-nine {
        margin-left: 576px;
    }
    .container-twelve .offset-by-ten {
        margin-left: 640px;
    }
    .container-twelve .offset-by-eleven {
        margin-left: 704px;
    }
    /*****************************
			16 Column
			((768/16) - 20) * 1 = 28
		*****************************/
    .container-sixteen .one.column {
        width: 28px;
    }
    .container-sixteen .two.columns {
        width: 76px;
    }
    .container-sixteen .three.columns {
        width: 124px;
    }
    .container-sixteen .fourth.columns {
        width: 172px;
    }
    .container-sixteen .five.columns {
        width: 220px;
    }
    .container-sixteen .six.columns {
        width: 268px;
    }
    .container-sixteen .seven.columns {
        width: 316px;
    }
    .container-sixteen .eight.columns {
        width: 364px;
    }
    .container-sixteen .nine.columns {
        width: 412px;
    }
    .container-sixteen .ten.columns {
        width: 460px;
    }
    .container-sixteen .eleven.columns {
        width: 508px;
    }
    .container-sixteen .twelve.columns {
        width: 556px;
    }
    .container-sixteen .thirteen.columns {
        width: 604px;
    }
    .container-sixteen .fourthteen.columns {
        width: 652px;
    }
    .container-sixteen .fifteen.columns {
        width: 700px;
    }
    .container-sixteen .sixteen.columns {
        width: 748px;
    }
    /* Offsets */
    .container-sixteen .offset-by-one {
        margin-left: 48px;
    }
    .container-sixteen .offset-by-two {
        margin-left: 96px;
    }
    .container-sixteen .offset-by-three {
        margin-left: 144px;
    }
    .container-sixteen .offset-by-fourth {
        margin-left: 192px;
    }
    .container-sixteen .offset-by-five {
        margin-left: 240px;
    }
    .container-sixteen .offset-by-six {
        margin-left: 286px;
    }
    .container-sixteen .offset-by-seven {
        margin-left: 336px;
    }
    .container-sixteen .offset-by-eight {
        margin-left: 384px;
    }
    .container-sixteen .offset-by-nine {
        margin-left: 432px;
    }
    .container-sixteen .offset-by-ten {
        margin-left: 480px;
    }
    .container-sixteen .offset-by-eleven {
        margin-left: 528px;
    }
    .container-sixteen .offset-by-twelve {
        margin-left: 576px;
    }
    .container-sixteen .offset-by-thirteen {
        margin-left: 624px;
    }
    .container-sixteen .offset-by-fourthteen {
        margin-left: 672px;
    }
    .container-sixteen .offset-by-fifteen {
        margin-left: 720px;
    }
}


/*	#Mobile (Portrait) 
================================================== */


/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
    .container {
        width: 300px;
    }
    .columns,
    .column {
        margin: 0;
    }
    .container .one.column,
    .container .two.columns,
    .container .three.columns,
    .container .fourth.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns,
    .container .eleven.columns,
    .container .twelve.columns,
    .container .thirteen.columns,
    .container .fourthteen.columns,
    .container .fifteen.columns,
    .container .sixteen.columns,
    .container .one-third.column,
    .container .two-thirds.column {
        width: 100%;
    }
    /* Offsets */
    .container .offset-by-one,
    .container .offset-by-two,
    .container .offset-by-three,
    .container .offset-by-fourth,
    .container .offset-by-five,
    .container .offset-by-six,
    .container .offset-by-seven,
    .container .offset-by-eight,
    .container .offset-by-nine,
    .container .offset-by-ten,
    .container .offset-by-eleven,
    .container .offset-by-twelve,
    .container .offset-by-thirteen,
    .container .offset-by-fourthteen,
    .container .offset-by-fifteen {
        margin-left: 0;
    }
}


/* #Mobile (Landscape)
================================================== */


/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 420px;
    }
    .columns,
    .column {
        margin: 0;
    }
    .container .one.column,
    .container .two.columns,
    .container .three.columns,
    .container .fourth.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns,
    .container .eleven.columns,
    .container .twelve.columns,
    .container .thirteen.columns,
    .container .fourthteen.columns,
    .container .fifteen.columns,
    .container .sixteen.columns,
    .container .one-third.column,
    .container .two-thirds.column {
        width: 420px;
        width: 100%
    }
}


/* #Clearing
================================================== */


/* Self Clearing Goodness */

.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/* Use clearfix class on parent to clear nested columns, 
	or wrap each row of columns in a <div class="row"> */

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.row:after,
.clearfix:after {
    clear: both;
}

.row,
.clearfix {
    zoom: 1;
}


/* You can also use a <br class="clear" /> to clear columns */

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}


/* Headers
----------------------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    font-family: Arial, Verdana, sans-serif;
    line-height: 1.5;
    margin-bottom: 15px;
}

/*#middle.int h1,
#middle.int h2,
#middle.int h3,
#middle.int h4,
#middle.int h5,
#middle.int h6 {
    border-bottom: 1px solid #ddd;
}
*/
h1 {
    /*border-bottom: 1px solid #ddd;*/
    font-size: 23px;
}

h2 {
    font-size: 23px;
    margin-top: 5px;
}

.module .form h2:first-child {
    margin-top: 5px !important;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}


/*CMS
----------------------------------------------------------------------------*/

body#content {
    background: #fff !important;
    width: 940px !important;
}


/*Styles
----------------------------------------------------------------------------*/

.floatL {
    float: left;
}

.floatR {
    float: right;
}

.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}

.container_padding {
    padding: 20px;
}

.font1 {
    display: inline-block;
    font-family: 'Rokkitt', 'times new roman', serif;
    padding: 5px 10px;
}

.font2 {
    display: inline-block;
    font-family: 'Rokkitt', 'times new roman', serif;
    padding: 5px 10px;
    text-transform: uppercase;
}

.large {
    font-size: 37px;
}

.small {
    font-size: 18px;
}

.red {
    background: #9e0b0f;
}

.green {
    background: #9ba43c;
}

.pink {
    background: #dd6c6d;
}

.blue {
    background: #5b797d;
}

.orange {
    background: #f5833e;
}

.gray {
    background: #749499;
}

.hide {
    display: none;
}

a:link,
a:visited,
a:active {
    /* text-decoration:none; */
}

a img {
    border: none;
}

div.form-row div.required > label:after {
    font-size: 1em !important;
}

.address {
    font-size: 12px;
    text-align: right;
    color: #333;
    padding: 5px 0;
}

.address h1 {
    display: inline;
    font-size: inherit;
    margin: 0;
    line-height: 0;
}

.address h1 a {
    color: #841313;
    text-decoration: none;
}

#search {
    padding: 40px 0 0;
}

#search .dA-search {
    float: right;
    margin: 0;
    padding: 0;
}

#search .input {
    float: left;
    height: 26px;
    width: 151px;
    background: rgb(236, 236, 236);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(236, 236, 236, 1) 0%, rgba(252, 255, 244, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(236, 236, 236, 1)), color-stop(100%, rgba(252, 255, 244, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(236, 236, 236, 1) 0%, rgba(252, 255, 244, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(236, 236, 236, 1) 0%, rgba(252, 255, 244, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(236, 236, 236, 1) 0%, rgba(252, 255, 244, 1) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(236, 236, 236, 1) 0%, rgba(252, 255, 244, 1) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#fcfff4', GradientType=0);
    /* IE6-9 */
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#search .input input {
    background: transparent;
    border: 0;
    color: #919191;
    font-size: 13px;
    margin: 0;
    padding: 5px 10px;
    width: 131px;
}

#search .submit {
    float: left;
    font-size: 13px;
    height: 26px;
}

#search .submit input {
    padding: 2px 0 0 5px;
}

.rotated-ind {
    -webkit-transform: rotate(45deg) !important;
    -moz-transform: rotate(45deg) !important;
    -o-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
    -webkit-transition: transform .3s ease;
}

nav ul {
    list-style: none;
}

html,
body {
    height: 100%;
}


/*Layout
----------------------------------------------------------------------------*/

body {
    background: #e0e2e3;
}

.wrapper {
    background: #f7f7f7;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

#banner {
    /* background: #e0e2e3; */
    color: #fff;
    height: 513px;
    overflow: hidden;
    /* position:absolute; */
    width: 100%;
    z-index: 2;
}

#banner ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#banner ul li {}

#banner ul li img {
    width: 100%;
    min-height: 513px;
}

.ls-layer {
    background: #e0e2e3;
}

.layer {
    position: absolute;
    z-index: 9999;
}

.layer .button {
    -webkit-box-shadow: 0px 3px 0px 0px #852b18;
    box-shadow: 0px 3px 0px 0px #852b18;
}

.layer .button:active,
.layer .button:focus {
    outline: 0;
}

#banner.int {
    height: 134px;
}

.tree {
    background: url(/campfiles/c831/img/header-tree.png) no-repeat 0 0 transparent;
    height: 513px;
    left: 0 !important;
    position: absolute;
    top: 0;
    width: 294px !important;
    z-index: 3;
}

#header {
    /* height:513px; */
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 4;
}

#header.int {
    background: url(obscured-gorge-header.jpg) no-repeat top center transparent;
    background-size: cover;
    height: 134px;
    position: relative;
}

#header_navigation {
    float: right;
    margin-top: 14px;
    position: relative;
    z-index: 9999;
}

#main,
#top,
#home {
    float: left;
}

#main ul,
#top ul,
#home ul {
    margin: 0;
    padding: 0;
}

#main ul li,
#top ul li,
#home ul li {
    display: inline-block;
    margin: 0;
    /* float:left; */
    /* position:relative; */
    text-align: right;
}

#main ul:first-child li,
#top ul:first-child li {
    margin-left: 0;
}

#main ul li a,
#top ul li a {}

#main ul li a:hover,
#top ul li a:hover,
#home ul li a:hover {
    border: 0;
}

#main ul li ul,
#top ul li ul {
    display: none;
    position: absolute;
}

.nav-btn,
.close-btn {
    display: none;
}

#home {}

#home ul {}

#home ul li {}

#home ul li a {
    display: block;
    padding: 13px;
}

#mobile {
    display: none;
    position: absolute;
    top: 40px;
    background: #fff;
    width: 100%;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .65);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .65);
}

#mobile li {
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden !important;
}

#mobile li.parent {
    width: 100%;
}

#mobile li:hover,
#mobile .active {
    background: rgba(0, 0, 0, 0.05);
}

#mobile ul {
    padding: 5px;
    margin: 2px;
}

#mobile > ul > li {
    margin: 10px 0;
}

#mobile ul ul {
    margin-left: 0;
}

.is-close ul {
    display: none;
}

.nav-indicator {
    display: inline-block;
    position: absolute;
    right: 15px;
    background: rgba(0, 0, 0, 0.2);
    padding: .25em !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 0;
}

.nav-indicator > div {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: transform .3s ease;
}

#mobile a {
    font-size: 18px;
    text-decoration: none;
    padding: 5px 0;
}

#main {
    margin-top: 1px;
}

#main ul {}

#main ul li {}

#main ul li a {
    color: #fff;
    display: block;
    font-family: 'Rokkitt', 'times new roman', serif;
    font-size: 19px;
    font-weight: bold;
    padding: 15px 10px;
    -webkit-border-radius: 2px 2px 0px 0px;
    border-radius: 2px 2px 0px 0px;
}

#main ul li a:hover,
#main ul li.active a,
#main ul li.persist a {
    background: #fff;
    border-top: 5px solid #e2e2e2;
    color: #9e0b0f;
    padding-top: 10px;
}

#main ul li:hover > ul,
#main ul li.persist > ul {
    display: block;
}

#main ul li ul {
    background: transparent;
    max-width: 620px;
    right: 45px;
    width: 100%;
    z-index: 9999;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 11%, rgba(238, 238, 238, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(11%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(238, 238, 238, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 11%, rgba(238, 238, 238, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 11%, rgba(238, 238, 238, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 11%, rgba(238, 238, 238, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 11%, rgba(238, 238, 238, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
}

#main ul li ul li {
    /* 									float:right; */
    position: relative;
    text-align: left;
}

#main ul li ul li a,
#main ul li.active ul li a,
#main ul li.persist ul li a {
    background: none;
    border: 0;
    color: #7b7b7b;
    font-family: arial, verdana, sans-serif;
    font-size: 13px;
    font-weight: normal;
    padding: 18px 10px;
    position: relative;
}

#main ul li ul li.persist a {
    font-weight: bold;
}

#main ul li ul li ul {
    width: 250px;
    left: 0;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 11%, rgba(238, 238, 238, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(11%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(238, 238, 238, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 11%, rgba(238, 238, 238, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 11%, rgba(238, 238, 238, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 11%, rgba(238, 238, 238, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 11%, rgba(238, 238, 238, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
}

#main ul li ul li ul li {
    float: none;
    left: -5px;
    width: 260px
}

#main ul li ul li ul ul {
    left: auto !important;
    right: 260px !important;
    top: 0;
}

#main ul li ul li ul li a {
    font-weight: normal;
    padding: 10px 10px 10px 15px !important;
    -webkit-border-radius: 0;
    border-radius: 0;
}

#main ul li ul li ul li a:hover {
    background: #fff !important;
    font-weight: normal !important;
    padding: 10px 10px 10px 15px !important;
    text-decoration: none !important;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .65);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .65);
}


/* persistent nav */

#main ul li.persist > ul {
    z-index: 9998;
}

#main ul li.persist ul li.persist > ul {
    display: none;
}

#main ul li.persist ul li.persist:hover > ul {
    display: block;
}

#main ul li.persist ul li.persist ul li a {
    font-weight: normal;
}

#main ul li.persist ul li.persist ul li.persist a {
    font-weight: bold;
}

.toggleMenu {
    background: #666;
    color: #fff;
    display: none;
    line-height: 1;
    padding: 10px 15px;
}

#top {
    font-size: 11px;
    margin-top: 15px;
    /* width:192px; */
}

#top ul {
    float: right;
}

#top ul li {
    border-right: 1px solid #fff;
}

#top ul li:last-child {
    border: 0;
}

#top ul li a {
    color: #fff;
    display: block;
    padding: 0 5px;
}

#top ul li:last-child a {
    padding-right: 0;
}

#bar {
    height: 54px;
    position: relative;
    z-index: 10 -webkit-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 11%, rgba(238, 238, 238, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(11%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(238, 238, 238, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 11%, rgba(238, 238, 238, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 11%, rgba(238, 238, 238, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 11%, rgba(238, 238, 238, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 11%, rgba(238, 238, 238, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, .65);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, .65);
}

.blog #bar {}

#logo {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#logo a,
#logo img {
    display: block;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#logo a:hover {
    border: 0;
}

#logo img {
    padding: 16px;
}

#logo .short {
    display: none;
}

#social-box {
    width: 40%;
    float: right;
    margin: 0;
    padding: 0;
    height: 27px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.inner-social {
    float: right;
    margin: 0;
    padding: 0;
}

.inner-social li {
    list-style: none;
    display: inline;
    margin: 0;
    max-width: 38px;
    padding: 0 0 0 10px;
    width: auto !important;
}

.inner-social li a {
    color: #ccc;
}

.inner-social .fa {
    font-size: 24px;
}

.inner-social .google > div,
.social .google > div > iframe {
    max-width: 38px;
}

.inner-social .google iframe {
    margin-bottom: -3px !important;
    width: 38px !important;
}

.social {
    bottom: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 50px;
    z-index: 9997;
}

.social > li {
    float: left;
    list-style: none;
    margin: 0;
    max-width: 38px;
    padding: 0 0 0 10px;
    width: auto !important;
}

.social .fa {
    font-size: 24px;
}

.social .yelp a {
    color: #d7482c;
}

.social .facebook a {
    color: #4269a8;
}

.social .google > div,
.social .google > div > iframe {
    max-width: 38px;
}

#search-container {
    float: right;
    /* height: 95px; */
    position: relative;
    width: 205px;
}

#searchButton {
    float: right;
    height: 100%;
    cursor: pointer;
    width: 45px;
}

.search {
    display: none;
    float: right;
    height: 41px;
    /* left:45px; */
    overflow: hidden;
    position: absolute;
    top: 54px;
    width: 205px;
}

.search form {
    margin: 0;
    padding: 0;
}

.search .input {
    border-top: 0 none;
    display: block;
    float: left;
    height: 28px;
    margin: 0;
    width: 150px;
    -webkit-border-radius: 0px 0px 0px 2px;
    border-radius: 0px 0px 0px 2px;
}

.search .submit {
    display: block;
    float: left;
    font-size: 17px;
    height: 41px;
    margin: 0;
    padding: 0 5px 5px;
    width: 45px;
    -webkit-border-radius: 0px 2px 2px 0px;
    border-radius: 0px 2px 2px 0px;
}

#container {
    background: #fff;
    min-height: 100%;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .5);
}

#middle {
    /* 			padding-top:513px; */
}


/* #middle.int {padding-top:134px;} */

#breadcrumbs {
    color: #ccc;
    width: 60%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    font-size: 11px;
    margin-bottom: 10px;
}

#breadcrumbs a {
    color: #ccc;
}

#content {
    clear: both;
}


/*Home Theme*/

.row {}

.col {
    float: left;
}

#row1 {
    border: 1px solid #ddd;
    font-size: 18px;
    height: 75px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

#row1 .article {
    padding: 15px 0;
}

#row2 {}

#row2 .col {
    width: 32%;
}

#row2 .col .article {
    padding: 7px;
}

#row2 .col h3 {
    font-size: 22px;
    list-style: none;
    margin: 0;
}

#row2 .col p {
    margin: 0;
}

#row2 .box {
    border: 1px solid #ddd;
    padding: 7px;
}

#row2 .col2 {
    margin: 0 18px;
}

#row2 .image img {
    display: block;
}

#row3 {}

#row3 h3 {
    border-bottom: 1px solid #ddd;
}

#row3 .col1 {
    width: 430px;
}

#row3 .col1 tr:first-child td {
    padding-top: 0;
}

#row3 .col2 {
    margin: 0 25px;
}

.post {
    border-bottom: 1px dotted #000;
    margin: 5px 0;
}

.post:last-child {
    border: 0;
}

.post h4 {
    margin: 5px 0;
}

.featured_image {
    overflow: hidden;
    width: 100%;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 0px 0px #d6d6d6;
    box-shadow: 0px 5px 0px 0px #d6d6d6;
}

.featured_image img {
    display: block;
    height: auto;
    max-width: 100%;
}


/*
.date {
							color: #9b9b9b;
							display: block;
							float: left;
							font-size: 11px;
						}
*/

.more {
    color: #9b9b9b;
    display: block;
    float: right;
    font-size: 11px;
}

#row3 .col2,
#row3 .col3 {
    width: 210px;
}

#row3 .col3 h3 {
    margin-bottom: 10px;
}


/*Main Theme*/

#content.int {
    /*float: left;*/
    width: 66.66%;
    margin: 0px auto;
}

#content.int .article,
#content.int .module {
    padding: 0 25px 0 0;
}

.blog #content.int {
    padding: 0 25px 0 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.sidebar {
    float: right;
    width: 33.33%;
}

.blog .sidebar h2 {
    margin-top: 11px;
}

#footer {
    background: url(lama-thing.png) no-repeat 105% bottom #9e0b0f;
    color: #fff;
    font-size: 12px;
    line-height: 1.5;
    padding: 77px 40px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

#middle.int #footer h3,
#middle #footer h3 {
    border-bottom: 0;
    color: #fff;
    font-size: 18px;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
}

#footerNavigation {
    width: 80%;
}

#footer p {
    margin: 0;
}

#contact {
    width: 30%;
}

#col2 {
    width: 35%;
}

#col2 table {
    /* line-height: 1.2; */
}

#col2 .article {
    padding: 0 10px;
}

#foot {
    padding: 0;
    width: 35%;
}

#foot ul {
    margin: 0;
    padding: 0;
}

#foot ul li {
    padding: 0;
    margin: 0;
}

#footer a,
#footer a:hover,
#footer a:visited,
#footer a:link {
    color: #fff;
}

#footer a:hover {
    text-decoration: underline;
}

#cms.col,
#copyright.col {
    color: #a1a1a1;
    font-family: arial, sans-serif;
    font-size: 11px;
    margin-top: 15px;
}

#cms.col a,
#copyright.col a {
    color: #a1a1a1;
}

#copyright {}

#cms {
    float: right;
}

#legal {
    float: left;
}


/*forms*/

div.form-row div.input {
    margin-bottom: 0;
    max-width: auto;
}

div.form-row div.input input,
div.form-row div.input select,
div.form-row div.input textarea {
    margin-bottom: 0;
}

div.form-row div.input label {
    font-weight: normal;
}

div.form-row div.input input {
    background: #e1e1e1;
    padding: 4px 10px;
}

div.form-row div.input input:focus,
div.form-row div.input input:active,
div.form-row div.input textarea:focus,
div.form-row div.input textarea:active {
    background: #fff;
}

div.form-row div.input select {
    border: 1px solid #c8c8c8;
    display: inline-block;
    margin-right: 5px;
    min-width: 60px;
    padding: 2px 0 2px 10px;
    width: auto;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(233, 233, 233, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(233, 233, 233, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(233, 233, 233, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(233, 233, 233, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(233, 233, 233, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(233, 233, 233, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e9e9', GradientType=0);
}

div.form-row div.input.select .checkbox label {
    margin-left: 5px;
}

div.form-row div.input textarea {
    width: 100%;
}

.form-row .checkbox label {
    width: auto !important;
}


/*404*/

#container.error404 {
    background: url(/campfiles/c831/img/404-error.jpg) no-repeat 0 0 transparent;
    color: #fff;
    font-family: 'Rokkitt', 'times new roman', serif;
    font-size: 20px;
    margin-top: 200px;
    max-width: 901px;
    min-height: 529px;
    text-transform: uppercase;
}

#container.error404 #content {
    position: absolute;
    right: 28px;
    top: 290px;
}

#container.error404 #error404_nav {
    width: 148px;
}

#container.error404 #error404_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#container.error404 #error404_nav ul li {
    margin: 0;
    padding: 0;
}

#container.error404 #error404_nav ul li a {
    color: #fff;
    display: block;
    padding-bottom: 10px;
}


/*colorbox*/

#cboxClose {
    font-size: 16px;
}

#cboxClose:after {
    content: none;
}


/*countdown*/

.countdown {
    clear: both;
    color: #fff;
    font-family: 'Rokkitt', 'times new roman', serif;
    height: 130px;
    width: 250px;
}

#middle.int .countdown h3 {
    border: 0;
    color: #ecd15b;
    font-size: 21px;
    margin: 0 0 5px 0;
    padding-top: 10px;
    text-align: center;
}

.countdown .countdown_row {
    float: right;
    font-size: 26px;
    line-height: 1.5;
    text-align: right;
}

.countdown .countdown_row ul {
    color: #fff;
    list-style: none;
    margin: 0 15px 0 0;
    padding: 0;
    text-transform: uppercase;
}

.countdown .countdown_row ul li {
    padding: 5px 0 0;
}

.countdown.first {
    background: url(/campfiles/c831/img/first-session-background.png) no-repeat top center transparent;
}

.countdown.second {
    background: url(/campfiles/c831/img/second-session-background.png) no-repeat top center transparent;
}

.fb-feed {
    margin-left: 0;
    margin-right: 0;
    padding-right: 25px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.fb-feed h3 {
    border-bottom: 1px solid #ddd;
}

.fb-feed .post {
    border-bottom: 0;
}

.fb-feed a {
    color: #626262;
    text-decoration: none;
}

.fb-image {
    float: left;
    max-width: 50px;
    padding: 0 10px 10px 0;
}

.instagram-feed {
    margin-left: 0;
    margin-right: 0;
}

.instagram-feed h3 {
    border-bottom: 1px solid #ddd;
}


/*Media Queries
----------------------------------------------------------------------------*/


/* Smaller than standard 960 (devices and browsers) */

@media only screen and (max-width: 959px) {
    img {
        height: auto;
        max-width: 100%;
    }
    #bar {
        position: absolute;
        top: 63px;
        width: 100%;
    }
    #content img {
        height: auto;
        width: 100%;
        max-width: 100%;
    }
    #row2 .col2 {
        margin: 0 14px;
    }
    #row3 .col1 {
        width: auto;
    }
    #row3 .col1 td {
        display: block;
        width: 100% !important;
    }
    .social {
        bottom: -35px;
    }
}


/* Tablet Portrait size to standard 960 (devices and browsers) */

@media only screen and (min-width: 768px) and (max-width: 959px) {
    #mobile {
        display: none;
    }
    #main ul li ul {
        width: 80%;
    }
    #logo .full {
        display: none;
    }
    #logo .short {
        display: inline-block;
        width: auto;
    }
    #logo .short img {
        padding: 11px;
        width: auto;
    }
}


/* All Mobile Sizes (devices and browser) */

@media only screen and (max-width: 767px) {
    #social-box {
        width: 100%;
        clear: both;
    }
    #breadcrumbs {
        width: 100%;
        clear: both;
    }
    #banner {
        display: none;
    }
    #header {
        background: #9e0b0f;
    }
    #header.int {
        background: #9e0b0f;
        background-image: none;
    }
    .toggleMenu {
        display: inline-block;
        left: 0;
        position: absolute;
    }
    #main {
        display: none;
    }
    #mobile {
        display: none;
    }
    #header_navigation {
        width: 100%;
    }
    #main {
        left: 0;
        position: absolute;
        top: 37px;
        width: 100%;
        z-index: 9999;
    }
    #main #navigation,
    #main #menu-hvc-navigation {
        background: #717171;
        display: none;
        overflow: hidden;
    }
    #main ul li {
        display: block;
        float: left;
        text-align: left;
        width: 100%;
    }
    #main ul li a,
    #main ul li ul li a,
    #main ul li.active ul li a,
    #main ul li.persist ul li a {
        background: none;
        color: #fff;
    }
    #main ul li a:hover,
    #main ul li.active a,
    #main ul li.persist a {
        background: none;
        border: 0;
        color: #fff;
    }
    #main ul li ul {
        display: block;
        padding-left: 20px;
        position: relative;
        right: 0;
        width: 100%;
    }
    #main ul li ul li ul {
        background: none;
        padding-left: 40px;
        top: 0;
        width: auto;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    #main ul li ul li ul li {}
    #main ul li ul li ul li a {}
    #main ul li ul li ul li a:hover {
        background: none !important;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    #main ul li ul li:first-child ul {
        left: 0;
    }
    #main ul li ul li ul ul {
        right: 0 !important;
    }
    .hover ul {
        display: block !important;
    }
    #search-container {
        width: 100%;
    }
    #searchButton {
        right: 0;
        top: -105px;
        position: absolute;
        z-index: 9999;
    }
    .search {
        top: 16px;
        width: 100%;
    }
    .search .input {
        width: 86%;
    }
    .search .submit {
        width: 11%;
    }
    #logo img {
        padding: 15px;
    }
    .social {
        bottom: 10px;
        z-index: 9998;
        text-shadow: 1px 1px 0px rgba(255, 255, 255, .5);
        -moz-text-shadow: 1px 1px 0px rgba(255, 255, 255, .5);
        -webkit-text-shadow: 1px 1px 0px rgba(255, 255, 255, .5);
    }
    #middle {
        padding-top: 120px;
    }
    #middle.int {
        padding-top: 0;
    }
    #content.int,
    .sidebar {
        float: none;
        width: 100%;
    }
    #content td {
        display: block;
        padding: 0;
        width: 100% !important;
    }
    #row1 {
        height: auto;
    }
    #row1 table,
    #row1 tr,
    #row1 td,
    #row3 table,
    #row3 tr,
    #row3 td {
        display: block;
        height: auto;
        width: 100% !important;
    }
    #row1 table td table td {
        display: table-cell;
        width: auto !important;
    }
    #row1 table td table td:first-child {
        padding: 0 10px;
    }
    #row1 table td table td:first-child img {
        width: 50px;
    }
    #row td {
        padding: 5px;
    }
    #row2 .col {
        display: block;
        width: 100%;
    }
    #row2 .col .image {
        height: auto;
        width: auto;
    }
    #row2 .col .image img {
        display: block;
        height: auto;
        width: 100%;
    }
    #row2 .col2 {
        margin: 0;
    }
    #row3 .col1 {
        width: 100%;
    }
    #row3 td {
        float: left;
        padding: 0;
        width: 50% !important;
    }
    #row3 td img {
        /* display: block; */
        padding: 5px;
        width: 95%;
    }
    .fb-feed {
        padding: 0;
    }
    #footer {
        background-image: none;
    }
    #footer .col {
        padding: 0;
        width: 100%;
    }
    #footer #col2 {
        margin: 10px 0;
    }
    #col2 .article {
        padding: 0;
    }
}


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

@media only screen and (min-width: 480px) and (max-width: 767px) {}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

@media only screen and (max-width: 479px) {
    #main {
        display: none;
    }
    #mobile {
        display: none;
    }
    .social {
        bottom: -90px;
        right: 10px;
    }
    .search .input {
        width: 81%;
    }
    .search .submit {
        width: 15%;
    }
    #logo img {
        padding: 19px;
    }
    #middle {
        padding-top: 140px;
    }
    #row3 td {
        float: none;
        padding: 0;
        width: 100% !important;
    }
    #row3 td img {
        /* display: block; */
        padding: 5px;
        width: 95%;
    }
}
