H1 { font-family: Times New Roman, Times, serif; font-size: 24px; color: #9e0b0f; }
H2 { font-family: Times New Roman, Times, serif; font-size: 20px; color: #9e0b0f; }
H3 { font-family: Times New Roman, Times, serif; font-size: 16px; color: #272727; }
body { font-family: Arial, sans-serif; font-size: 14px; color: #333333; background-color: #e0e2e3; line-height: 150%; }
.color_primary { color: #9e0b0f; }
.color_secondary { color: #7b7b7b; }
.color_tertiary { color: #000000; }
.text_tiny { font-size: 12px; }
.text_small { font-size: 14px; }
.text_large { font-size: 20px; }
a:hover { color: #9e0b0f; }
a { text-decoration: underline; color: #9e0b0f; }
a.link_alternate { color: #CC9900; text-decoration: underline; }
a.link_alternate:hover { color: #336699; }
span.navigation { background-color: #CC6600; border-width: 1px; border-style: dotted; border-color: #FF0033; text-align: center; }
td { font-family: Arial, sans-serif; font-size: 14px; color: #333333; line-height: 150%; }
.content { background-color: #FFFFFF; }
a.link_alternate2 { color: #FFFFFF; text-decoration: underline; }
a.link_alternate2:hover { color: #FFFFFF; }
ul { color: #333333; list-style-type: square; list-style-position: outside; }
.text_extra_large { font-size: 28px; }
.color_custom_1 { color: #FFFFFF; }
.color_custom_2 { color: #025e73; }
.color_custom_3 { color: #025e73; }
.bordercolor_primary { border-color: #9e0b0f; }
.bordercolor_secondary { border-color: #7b7b7b; }
.bordercolor_tertiary { border-color: #000000; }
.bordercolor_custom_1 { border-color: #FFFFFF; }
.bordercolor_custom_2 { border-color: #025e73; }
.bordercolor_custom_3 { border-color: #025e73; }
th { font-family: Arial, sans-serif; font-size: 14px; color: #333333; line-height: 150%; }
