.select2-selection {
  height: 42px !important;
  border-color: #ccc !important;
  border-radius: 8px !important;
  padding: 6px 0px !important;
}
.select2-selection:hover {
    background-color: #e6f5ff;
}
.select2-results__option[aria-selected=true] {
  display: none;
}
.select2-selection--multiple {
  height: auto !important;
}