.w3-select {
  margin: 5px 0px 10px 0px;
  padding-left: 10px;
}
.select2-selection {
  height: 34px !important;
  border-color: #ccc !important;
  padding-left: 2px !important;
  padding: 2px !important;
}
.select2-results__option[aria-selected=true] {
  display: none;
}
.select2-selection--multiple {
  height: auto !important;
}