body{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  margin:0;
  padding:0;
  background:white;
}
.header{
  font-size:1.5em;
  background:#333333;
  color:white;
  padding:20px;
  line-height:30px;
  font-weight:bold;
}
.header:before{
  content:'';
  height:20px;
  width:220px;
  background:#29CAFF;
  transform:rotate(45deg);
  z-index:0;
  position:absolute;
  top:50;
  right:0;
}
.header:after{
  content:' ';
  width:100%;
  height:15px;
  background:white;
  position:absolute;
  z-index:1;
  top:130;
  left:0;
}
.title{
  
}
.user{
  text-transform:capitalize;
}
.date{
  
}
.body{
  padding:20px;
  padding-left:50px;
  padding-right:50px;
  z-index:10;
}
.log{
  margin-bottom:20px;
}
.log-header{
  
}
.log-date{
  display:inline-block;
}
.log-date:after{
  content:' -';
}
.log-hours{
  display:inline-block;
}
.log-content{
  margin-top:5px;
}
.log-client{
  font-size:1.2em;
  margin-left:10px;
  display:inline-block;
}
.log-client:after{
  content:' -';
}
.log-client-hours{
  display:inline-block;
}
.log-project{
  margin-top:5px;
}
.log-maintask{
  
}
.log-subtask{
  
}
.log-task{
  
}
.footer{
  
}
@media print{
  .body{
    padding:0;
    padding-top:12px;
    z-index:2;
    font-size:12px;
  }
  .log{
    margin:0;
  }
  .log-content{
    margin:0;
  }
  .log-date{
    z-index:10;
  }
  .log-date:after{
    z-index:10;
  }
  .log-hours{
    z-index:10;
  }
  .log-client{
    z-index:10;
  }
  .log-client:after{
    z-index:10;
  }
}