body, h1,h2,h3,h4,h5,h6,ul {font-family: "Lucida Bright", Georgia, serif !important;}

.w3-loader {color: #936b0e}

.camp-logo {
    content:url("/depot/src/HTMLContent/images/temple.png");
}

.menu-title:before {
    content: "Augusta Maine Stake Activities";
}

.ss-background {
	color: #000;
    background-color: #f1f1f1;
}
.ss-btn {
    width: 98%;
    font-weight: bold;
    border-radius: 4px !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    display: inline-block;
    outline: 0;
    padding: 6px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none!important;
    color: #fff;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-appearance: button;
    margin-bottom: 5px;
}
.ss-btn:hover, .ss-btn-single:hover {
	-webkit-transition: background-color .25s,color .15s,box-shadow .25s,opacity 0.25s,filter 0.25s,border 0.15s;
    transition: background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.ss-button-group {
	margin: 30px 100px 0px 100px;
    padding-bottom: 30px;
}
.ss-btn-single {
	width: 50%;
    font-weight: bold;
    border-radius: 4px !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: 0;
    padding: 6px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none!important;
    color: #fff;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-appearance: button;
}
.ss-card {
    max-width: 1000px;
	color: #000;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 0.01em 16px;
    border-radius: 4px!important;
    margin: auto;
    margin-bottom: 45px;
}
.ss-card-content {
	padding: 32px 32px 0px 32px !important;
}
.ss-card-title {
    font-weight: bold;
    text-align: center;
    margin-top: 22px;
}
.ss-input {
	border: 1px solid #ccc!important;
	border-radius: 8px!important;
	padding: 9px 9px;
    width: 100%;
    color: #000;
    border: 1px solid transparent;
    border-bottom: 1px solid #009688;
}
.ss-li {
	border-bottom: 1px solid #ddd !important;
	padding: 6px 2px 6px 16px;
	transition: background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s;
	font-size: 24px;
}
.ss-select {
	padding: 9px 9px !important;
	border: 1px solid #ccc!important;
    border-radius: 8px!important;
    padding: 9px 0;
    width: 100%;
    color: #000;
    border: 1px solid transparent;
    border-bottom: 1px solid #009688;
    margin: 5px 0px 10px 0px;
}
.ss-select:hover {
	background-color: #e6f5ff;
}
.ss-side-btn {
	width: 50%;
    margin-left: 25%;
    height: 42px;
    border-radius: 6px !important;
    border: none;
    background: transparent;
    transition: background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s;
}
.ss-side-btn:hover {
	background: red;
	color: white;
}
label {
    font-weight: bold;
    margin-top: 10px;
}
.w3-col {
	padding-left: 5px;
    padding-right: 5px;
}