.component-card {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.icon {
    font-size: 100px;
}
.section-header {
    font-size: 60px;
    margin-bottom: 34px;
    padding-left: 15px;
    padding-top: 10px;
    font-weight: 500;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.row-margins {
    margin-left: -15px !important;
    margin-right: -15px !important;
}