.w3-theme-l5 {color:#000 !important; background-color:#f2f4f8 !important}
.w3-theme-l4 {color:#000 !important; background-color:#d3dae8 !important}
.w3-theme-l3 {color:#000 !important; background-color:#a7b4d1 !important}
.w3-theme-l2 {color:#fff !important; background-color:#7b8fb9 !important}
.w3-theme-l1 {color:#fff !important; background-color:#536b9e !important}
.w3-theme-d1 {color:#fff !important; background-color:#364566 !important}
.w3-theme-d2 {color:#fff !important; background-color:#303d5b !important}
.w3-theme-d3 {color:#fff !important; background-color:#2a3650 !important}
.w3-theme-d4 {color:#fff !important; background-color:#242e44 !important}
.w3-theme-d5 {color:#fff !important; background-color:#1e2639 !important}
.w3-theme-light {color:#000 !important; background-color:#f2f4f8 !important}
.w3-theme-dark {color:#fff !important; background-color:#1e2639 !important}
.w3-theme-action {color:#fff !important; background-color:#1e2639 !important}
.w3-theme {color:#fff !important; background-color:#3c4d71 !important}
.w3-text-theme {color:#3c4d71 !important}
.w3-border-theme {border-color:#3c4d71 !important}
.w3-hover-theme:hover {color:#fff !important; background-color:#3c4d71 !important}
.w3-hover-text-theme {color:#3c4d71 !important}
.w3-hover-border-theme:hover {border-color:#3c4d71 !important}
.w3-theme-body {color:#000 !important; background-color:#ffffff !important}
.w3-theme-background {color::#000 !important; background-color:#F1F1F3 !important}
.w3-theme-accent {color:#FFFFFF !important; background-color:#0091BC !important}
.w3-hover-theme-accent:hover {color:#FFFFFF !important; background-color:#0091BC !important}
.w3-hover-border-theme-accent:hover {color:#FFFFFF !important; background-color:#0091BC !important}

body, h1,h2,h3,h4,h5,h6,ul {font-family: "Lucida Bright", Georgia, serif !important;}
.w3-row-padding img {margin-bottom: 12px}
.w3-sidebar {width: 120px;}
#main {margin-left: 120px}
@media only screen and (max-width: 600px) {
  #main {margin-left: 0}
  .fa-angle-double-right {display: none}
}
@media only screen and (min-width: 601px) {
	.w3-content {
		max-width: 90% !important;
	}
}
.vert-nav-page {
    padding-left: 150px;
    padding-right: 30px;
}
.top-nav-btn {
    margin-top: 5%;
}
#side-nav {
    padding-left: 0px !important;
}
.component-card {
    text-align: center;
    color: #3c4d71;
    padding-top: 50px;
    padding-bottom: 50px;
}
.component-card:hover {
    color: white;
}
h1 {
    font-size: 45px;
}
.icon {
    font-size: 100px;
}
.section-header {
    font-size: 60px;
    margin-bottom: 34px;
    padding-left: 15px;
    padding-top: 10px;
    font-weight: 500;
}
.col-margin {
  padding-left: 5px;
  padding-right: 5px;
}

.col-md-4 {
      padding-top: 15px;
      padding-bottom: 15px;
}
a {
  color: #3c4d71;
  text-decoration: none !important;
}
li {
    border-bottom: 1px solid #ddd !important;
}
.logout-btn {
	position: absolute;
    bottom: 0px;
}
.page-title {
    font-weight: bold;
    margin-bottom: 5%;
    text-align: center;
}
.page-content {
    position:relative;
    top: 5%;
}
.form-content {
    margin-top: 5%;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 30px;
    padding-right: 30px;
}
label {
    margin-top: 10px;
}
table {
	text-align: center;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.row-margins {
	margin-left: -15px !important;
	margin-right: -15px !important;
}
.btn-primary {
	color:#fff !important; 
	background-color:#1e2639 !important
}
.radio {
	margin-top: -10px !important;
}